{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Rick et Morty</h1>

    <div class="container-xl bg-light p-5 border my-5">

        <div class="row mb-2">


            <div class="col-12 col-lg-9">


                {% for episode in episodes %}


                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow bg-white position-relative">

                            <img src="" class="img-fluid">

                        <div class="col-8 p-4 d-flex flex-column position-static">
        
                            <strong class="d-inline-block mb-2 text-primary">
                                {{episode.name}}
                            </strong>
                            <h3 class="mb-1">
                                {{episode.episode}}
                            </h3>
                            <div class="mb-1 text-muted">
                                {{episode.air_date}}
                            </div>
                            {% for key, adress in episode.characters %}
                                {{key}} : {{adress}} <br>
                            {% endfor %}
                        </div>
                    </div>

                {% else %}

                    <em>Aucun morty à regarder</em>

                {% endfor %}

            </div>

{% endblock %}
