<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Rick and Morty{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        {% block stylesheets %} {% endblock %}
        {% block javascripts %} {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a href="{{ path('home') }}" class="">
                    <img src="{{ asset('images/rick-et-morty-long.png') }}" height="42" alt="Logo Rick and Morty">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('person') }}">Persons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('episode') }}">Episodes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('location') }}">Locations</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        {% block header %} {% endblock %}
        {% block body %} {% endblock %}

        <footer class="footer text-center my-5">
            <div class="container">
                <div class="row">
                    <div class="mb-5 col-lg-12 mb-lg-0">
                        <a class="btn btn-outline-light mx-2" href="https://www.linkedin.com/in/adrien-tuquet/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light mx-2" href="https://github.com/Gatechien" target="_blank"><i class="fab fa-brands fa-github"></i></a>
                        <a class="btn btn-outline-light mx-2" href="mailto:tuquet.adrien@gmail.com" target="_blanck"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                    <div class="container mt-3"><small>Copyright &copy; Tuquet Adrien 2022</small></div>
                </div>
            </div>
        </footer>

        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
